---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

<h1>Research Interests</h1>

<ul style="list-style-type:disc;">
  <li>Beyond 5G (B5G) and 6G Networks</li>
  <li>Machine Learning for Communications and Networking</li>
  <li>Internet of Things (IoT) and Industrial IoT </li>
  <li>Network Virtualization and Digital Twins</li>
  <li>Artificial Intelligence (AI) for Network Security</li>
  <li>Satellite and UAV Networking </li>
</ul>

<hr> 


<h1>Publications</h1>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Books</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, X. Shen and L. Zhao, Intelligent Computing and Communication for the Internet of Vehicles. eBook ISBN 978-3-031-22860-5, Softcover ISBN: 978-3-031-22859-9. Springer, 2023.</li>
  <li><b>J. Gao</b>, M. Li, and W. Zhuang, Connectivity and Edge Computing in IoT: Customized Designs and AI-based Solutions. eBook ISBN 978-3-030-88743-8, Hardcover ISBN 978-3-030-88742-1. Springer, 2021.</li>
</ol>

<h2>Book Chapters</h2>
<ol type="1">
  <li><b>J. Gao</b>, M. Li, X. Ling, L. Zhao, and X. Shen, "State Transition Field: A New Framework for Mobile Dynamic Caching," in Broadband Communications, Computing, and Control for Ubiquitous Intelligence. Editors: L. Cai, B. L. Mark, and J. Pan, Springer, 2022, pp. 143-173.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, and H. Jiang, "Game theory in multiuser wireless communications," in Game Theory for Wireless Communications and Networking. Editors: Y. Zhang and M. Guizani, CRC Press, ISBN: 978-1-4398-0889-4, 2011, pp. 3-25.</li>
</ol>

<h2>Patents</h2>
<ol type="1">
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. Method, apparatus and system for medium access control. US Patent US11991744B2. 2024.</li>
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. Method, apparatus and system for medium access control. US Patent US11363629B2. 2022.</li>
</ol>


<h2>Journal Papers</h2>
<ol type="1">
  <li>M. Li, J. Gao, C. Zhou, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10643661">Digital Twin-Empowered Resource Allocation for On-Demand Collaborative Sensing</a>," IEEE Internet of Things Journal, early access.</li>
  <li>W. Li, W. Tian, Z. Yan , Z. Li, J. Gao, F. Wu, J. Liu, W. Chen and J. Ren, "<a href="https://ieeexplore.ieee.org/document/10412683">CoralDB: A Collaborative Database for Data Sharing based on Permissioned Blockchain</a>," IEEE Transactions on Mobile Computing, vol. 23, no. 9, pp. 8886-8901, Sept. 2024.</li>
  <li>Y. Chen, J. Xu, Y. Wu, J. Gao and L. Zhao, "<a https://ieeexplore.ieee.org/document/10470427">Dynamic Task Offloading and Resource Allocation for NOMA-aided Mobile Edge Computing: An Energy Efficient Design</a>," IEEE Transactions on Services Computing, vol. 17, no. 4, pp. 1492-1503, July-Aug. 2024.  </li>
  <li>Z. Cui, G. Wang, J. Gao, X. Lei and C. Tellambura, "<a https://ieeexplore.ieee.org/document/10375798">Channel Estimation for Backscatter Communication Systems under Circuit Sensitivity Constraint</a>," IEEE Transactions on Vehicular Technology,  vol. 73, no. 5, pp. 7441-7446, May 2024. </li>
  <li>C. Zhou, J. Gao, M. Li, N. Cheng, X. Shen and W. Zhuang, "<a https://ieeexplore.ieee.org/document/10440407">Digital Twin-based 3D Map Management for Edge-assisted Device Pose Tracking in Mobile AR</a>," IEEE Internet of Things Journal, vol. 11, no. 10, pp. 17812-17826, May 2024. PDF </li>
  <li>Q. Ouyang, N. Ye, J. Gao, A. Wang and L. Zhao, "<a https://ieeexplore.ieee.org/document/10143230">Joint In-Orbit Computation and Communication for Minimizing Download Time from LEO Satellites</a>," in IEEE Transactions on Mobile Computing, vol. 23, no. 5, pp. 3950-3963, May 2024. PDF </li>
  <li>S. Hu, M. Li, J. Gao, C. Zhou and X. Shen, "<a https://ieeexplore.ieee.org/document/10330564">Adaptive Device-Edge Collaboration on DNN Inference in AIoT: A Digital Twin-Assisted Approach</a>," IEEE Internet of Things Journal, vol. 11, no. 7, pp. 12893-12908, Apr. 2024. PDF </li>
  <li>C. Zhou, J. Gao, M. Li, X. Shen, W. Zhuang, X. Li and W. Shi, "<a https://ieeexplore.ieee.org/document/10228190">AI-Assisted Slicing-Based Resource Management for Two-Tier Radio Access Networks</a>," in IEEE Transactions on Cognitive Communications and Networking, vol. 9, no. 6, pp. 1691-1706, Dec. 2023. PDF</li>
  <li>M. Li, J. Gao, C. Zhou, X. Shen and W. Zhuang, "<a https://ieeexplore.ieee.org/abstract/document/10124955">User Dynamics-Aware Edge Caching and Computing for Mobile Virtual Reality</a>," in IEEE Journal of Selected Topics in Signal Processing, vol. 17, no. 5, pp. 1131-1146, Sept. 2023. PDF</li>
  <li>B. Xu, Z. Kuang, J. Gao L. Zhao and C. Wu, "<a https://ieeexplore.ieee.org/abstract/document/10124955">Joint Offloading Decision and Trajectory Design for UAV-Enabled Edge Computing with Task Dependency</a>," in IEEE Transactions on Wireless Communications,  vol. 22, no. 8, pp. 5043-5055, Aug. 2023.</li>
  <li>T. Wang, N. Huang, Y. Wu, J. Gao and T. Q. S. Quek, "<a https://ieeexplore.ieee.org/document/10007635">Latency-Oriented Secure Wireless Federated Learning: A Channel-Sharing Approach With Artificial Jamming</a>," in IEEE Internet of Things Journal, vol. 10, no. 11, pp. 9675-9689,  June 2023.</li>
  <li>L. Tan, Z. Kuang, J. Gao and L. Zhao, "<a https://ieeexplore.ieee.org/document/9916157">Energy-Efficient Collaborative Multi-Access Edge Computing Via Deep Reinforcement Learning</a>," in IEEE Transactions on Industrial Informatics, vol. 19, no. 6, pp. 7689-7699, June 2023.</li>
  <li>J. Gao, Z. Kuang, J. Gao and L. Zhao, "<a https://ieeexplore.ieee.org/document/9942346">Joint Offloading Scheduling and Resource Allocation in Vehicular Edge Computing: A Two Layer Solution</a>," in IEEE Transactions on Vehicular Technology, vol. 72, no. 3, pp. 3999-4009, Mar. 2023.</li>
  <li>M. Dai, N. Huang, Y. Wu, J. Gao and Z. Su, "<a https://ieeexplore.ieee.org/document/9994654">Unmanned Aerial Vehicles Assisted Wireless Networks: Advancements, Challenges, and Solutions</a>," in IEEE Internet of Things Journal, vol. 10, no. 5, pp. 4117-4147, Mar. 2023.</li>
  <li>X. Shen, J. Gao M. Li, C. Zhou, S. Hu, M. He and W. Zhuang, "<a https://www.frontiersin.org/journals/computer-science/articles/10.3389/fcomp.2022.1068478/full">Toward Immersive Communications in 6G</a>," in Frontiers in Computer Science, vol. 4, pp. 1-31, Jan. 2023. [Invited Paper]  PDF</li>
  <li>C. Zhou, J. Gao, M. Li, X. Shen and W. Zhuang, "<a https://ieeexplore.ieee.org/document/9906937">Digital Twin-Empowered Network Planning for Multi-Tier Computing</a>," in Journal of Communications and Information Networks, vol. 7, no. 3, pp. 221-238, Sept. 2022. [Cover Article]</li>
  <li>X. Shen, J. Gao, W. Wu, M. Li, C. Zhou and W. Zhuang, "<a https://ieeexplore.ieee.org/document/10470427">Holistic Network Virtualization and Pervasive Network Intelligence for 6G</a>," in IEEE Communications Surveys & Tutorials, vol. 24, no. 1, pp. 1-30, Firstquarter 2022.  [Invited Paper]</li>
  <li>S. Zhang, J. Li, H. Luo, J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/9200738">Low-Latency and Fresh Content Provision in Information-Centric Vehicular Networks</a>," in IEEE Transactions on Mobile Computing, vol. 21, no. 5, pp. 1723-1738, May 2022.</li>
  <li>S. Fu, J. Gao and L. Zhao, "<a https://ieeexplore.ieee.org/abstract/document/9439153">Collaborative Multi-Resource Allocation in Terrestrial-Satellite Network Towards 6G</a>," in IEEE Transactions on Wireless Communications, vol. 20, no. 11, pp. 7057-7071, Nov. 2021.</li>
  <li>M. Li, J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/9366426">Adaptive Computing Scheduling for Edge-Assisted Autonomous Driving</a>," in IEEE Transactions on Vehicular Technology, vol. 70, no. 6, pp. 5318-5331, June 2021.</li>
  <li>J. Gao, W. Zhuang, M. Li, X. Shen and X. Li, "<a https://ieeexplore.ieee.org/abstract/document/9320600">MAC for Machine-Type Communications in Industrial IoT—Part I: Protocol Design and Analysis</a>," in IEEE Internet of Things Journal, vol. 8, no. 12, pp. 9945-9957, June 2021.</li>
  <li>J. Gao, M. Li, W. Zhuang, X. Shen and X. Li, "<a https://ieeexplore.ieee.org/abstract/document/9298854">MAC for Machine-Type Communications in Industrial IoT—Part II: Scheduling and Numerical Results</a>," in IEEE Internet of Things Journal, vol. 8, no. 12, pp. 9958-9969, June 2021.</li>
  <li>J. Gao, S. Zhang, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8960482">The Design of Dynamic Probabilistic Caching with Time-Varying Content Popularity</a>," in IEEE Transactions on Mobile Computing, vol. 20, no. 4, pp. 1672-1684, Apr. 2021.</li>
  <li>M. Li, J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/9119487">Deep Reinforcement Learning for Collaborative Edge Computing in Vehicular Networks</a>," in IEEE Transactions on Cognitive Communications and Networking, vol. 6, no. 4, pp. 1122-1135, Dec. 2020.</li>
  <li>F. Wang, J. Gao, M. Li and L. Zhao, "<a https://ieeexplore.ieee.org/abstract/document/9204693">Autonomous PEV Charging Scheduling Using Dyna-Q Reinforcement Learning</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 11, pp. 12609-12620, Nov. 2020.</li>
  <li>W. Li, X. Hu, J. Gao, L. Zhao and T. Jiang, "<a https://ieeexplore.ieee.org/abstract/document/8985425">Measurements and Analysis of Propagation Channels in Vehicle-to-Infrastructure Scenarios</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 4, pp. 3550-3561, Apr. 2020.</li>
  <li>S. Fu, J. Gao and L. Zhao, "<a https://ieeexplore.ieee.org/abstract/document/8951285">Integrated Resource Management for Terrestrial-Satellite Systems</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 3, pp. 3256-3266, Mar. 2020.</li>
  <li>M. Li, N. Cheng, J. Gao, Y. Wang, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8964328">Energy-Efficient UAV-Assisted Mobile Edge Computing: Resource Allocation and Trajectory Optimization</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 3, pp. 3424-3438, Mar. 2020.</li>
  <li>X. Shen, J. Gao, W. Wu, K. Lyu, M. Li, W. Zhuang, X. Li, and J. Rao, "<a https://ieeexplore.ieee.org/abstract/document/8954683">AI-Assisted Network-Slicing Based Next-Generation Wireless Networks</a>," in IEEE Open Journal of Vehicular Technology, vol. 1, pp. 45-66, Jan. 2020.  [Invited Paper]</li>
  <li>M. Li, J. Gao, N. Chen, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8892574">Decentralized PEV Power Allocation With Power Distribution and Transportation Constraints</a>," in IEEE Journal on Selected Areas in Communications, vol. 38, no. 1, pp. 229-243, Jan. 2020.</li>
  <li>J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8842622">The Study of Dynamic Caching via State Transition Field—the Case of Time-Invariant Popularity</a>," in IEEE Transactions on Wireless Communications, vol. 18, no. 12, pp. 5924-5937, Dec. 2019.</li>
  <li>J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/document/8842609">The Study of Dynamic Caching via State Transition Field—the Case of Time-Varying Popularity</a>," in IEEE Transactions on Wireless Communications, vol. 18, no. 12, pp. 5938-5951, Dec. 2019.</li>
  <li>Z. Kuang, L. Li, J. Gao, L. Zhao and A. Liu, "<a https://ieeexplore.ieee.org/abstract/document/8692421">Partial Offloading Scheduling and Power Allocation for Mobile Edge Computing Systems</a>," in IEEE Internet of Things Journal, vol. 6, no. 4, pp. 6774-6785, Aug. 2019.</li>
  <li>Q. Li, J. Gao, H. Liang, L. Zhao and X. Tang, "<a https://ieeexplore.ieee.org/abstract/document/8611159">Optimal Power Allocation for Wireless Sensor Powered by Dedicated RF Energy Source</a>," in IEEE Transactions on Vehicular Technology, vol. 68, no. 3, pp. 2791-2801, Mar. 2019.</li>
  <li>J. Li, J. Gao, H. Zhang and T. Z. Qiu, "<a https://ieeexplore.ieee.org/abstract/document/8506611">RSE-Assisted Lane-Level Positioning Method for a Connected Vehicle Environment</a>," in IEEE Transactions on Intelligent Transportation Systems, vol. 20, no. 7, pp. 2644-2656, July 2019.</li>
  <li>J. Gao, M. Li, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8493324">Contention Intensity Based Distributed Coordination for V2V Safety Message Broadcast</a>," in IEEE Transactions on Vehicular Technology, vol. 67, no. 12, pp. 12288-12301, Dec. 2018.</li>
  <li>J. Gao, L. Zhao and X. Shen, "<a https://ieeexplore.ieee.org/abstract/document/8334574">Network Utility Maximization Based on an Incentive Mechanism for Truthful Reporting of Local Information</a>," in IEEE Transactions on Vehicular Technology, vol. 67, no. 8, pp. 7523-7537, Aug. 2018.</li>
  <li>Q. Li, L. Zhao, J. Gao, H. Liang, L. Zhao and X. Tang, "<a https://ieeexplore.ieee.org/abstract/document/8331089">SMDP-Based Coordinated Virtual Machine Allocations in Cloud-Fog Computing Systems</a>," in IEEE Internet of Things Journal, vol. 5, no. 3, pp. 1977-1988, June 2018.</li>
  <li>J. Gao, S. A. Vorobyov, H. Jiang and H. V. Poor, "<a https://ieeexplore.ieee.org/abstract/document/7161401">Worst-Case Jamming on MIMO Gaussian Channels</a>," in IEEE Transactions on Signal Processing, vol. 63, no. 21, pp. 5821-5836, Nov.1, 2015.</li>
  <li>J. Gao, S. A. Vorobyov, H. Jiang, J. Zhang and M. Haardt, "<a https://ieeexplore.ieee.org/abstract/document/6514905">Sum-Rate Maximization With Minimum Power Consumption for MIMO DF Two-Way Relaying— Part I: Relay Optimization</a>," in IEEE Transactions on Signal Processing, vol. 61, no. 14, pp. 3563-3577, July 2013.</li>
  <li>J. Gao, S. A. Vorobyov, H. Jiang, J. Zhang and M. Haardt, "<a https://ieeexplore.ieee.org/abstract/document/6517001">Sum-Rate Maximization With Minimum Power Consumption for MIMO DF Two-Way Relaying— Part II: Network Optimization</a>," in IEEE Transactions on Signal Processing, vol. 61, no. 14, pp. 3578-3591, July 2013.</li>
  <li>J. Gao, S. A. Vorobyov and H. Jiang, "<a https://ieeexplore.ieee.org/abstract/document/5447732">Cooperative Resource Allocation Games Under Spectral Mask and Total Power Constraints</a>," in IEEE Transactions on Signal Processing, vol. 58, no. 8, pp. 4379-4395, Aug. 2010.</li>
</ol>


<h2>Magazine Papers</h2>
<ol type="1">
  <li>N. Huang, M. Dai, Y. Wu, L. Qian, J. Gao and Z. Su, "<a https://ieeexplore.ieee.org/document/10273259">Networked Integration of Sensing and Communication for Extended Reality: Framework, Challenges and Solutions</a>," in IEEE Network, vol. 38, no. 3, pp. 269-276, May 2024. </li>
  <li>M. Li, J. Gao, C. Zhou, X. S. Shen and W. Zhuang, "<a https://ieeexplore.ieee.org/abstract/document/9586568">Slicing-Based Artificial Intelligence Service Provisioning on the Network Edge: Balancing AI Service Performance and Resource Consumption of Data Management</a>," in IEEE Vehicular Technology Magazine, vol. 16, no. 4, pp. 16-26, Dec. 2021. </li>
</ol>


<h2>Conference Papers</h2>
<ol type="1">
  <li>M. Li, J. Gao, C. Zhou, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10643661">Digital Twin-Empowered Resource Allocation for On-Demand Collaborative Sensing</a>," IEEE Internet of Things Journal, early access.</li>
</ol>





{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



