---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

Research Interests
======

<ul style="list-style-type:disc;">
  <li>Beyond 5G (B5G) and 6G Networks</li>
  <li>Machine Learning for Communications and Networking</li>
  <li>Internet of Things (IoT) and Industrial IoT </li>
  <li>Network Virtualization and Digital Twins</li>
  <li>Artificial Intelligence (AI) for Network Security</li>
  <li>Satellite and UAV Networking </li>
</ul>


Publications
======

Books
------
<ol type="1">
  <li>M. Li, J. Gao, X. Shen and L. Zhao, Intelligent Computing and Communication for the Internet of Vehicles. eBook ISBN 978-3-031-22860-5, Softcover ISBN: 978-3-031-22859-9. Springer, 2023.</li>
  <li>J. Gao, M. Li, and W. Zhuang, Connectivity and Edge Computing in IoT: Customized Designs and AI-based Solutions. eBook ISBN 978-3-030-88743-8, Hardcover ISBN 978-3-030-88742-1. Springer, 2021.</li>
</ol>







{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



