---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---



<h1>@Carleton University</h1>

<ul style="list-style-type:disc;">
  <li> ITEC 5102/SYSC 5500 - <font color=#3498db>Designing Secure Networking and Computer Systems</font> (Fall 23, 24) </li>
  <li> IRM 4005/OSS 4005 - <font color=#3498db>Introduction to Deep Learning</font> (Fall 23, 24) </li>
  <li> NET 3006 - <font color=#3498db>Network Management and Measurement</font> (Winter 23, 24) </li>
  <li> IRM4002 - <font color=#3498db>Network Technology</font> (Fall 22)</li>
</ul>

<hr> 

<h1>@Marquette University</h1>
<ul style="list-style-type:disc;">
  <li> ITEC 5102/SYSC 5500 - <font color=#45b39d >Designing Secure Networking and Computer Systems</font> (Fall 23, 24) </li>
  <li> IRM 4005/OSS 4005 - <font color=#45b39d >Introduction to Deep Learning</font> (Fall 23, 24) </li>
  <li> NET 3006 - <font color=#45b39d >Network Management and Measurement</font> (Winter 23, 24) </li>
  <li> IRM4002 - <font color=#45b39d >Network Technology</font> (Fall 22)</li>
</ul>

<hr> 


<h1>@University of Alberta</h1>
<ul style="list-style-type:disc;">
  <li> ITEC 5102/SYSC 5500 - <font color=#229954>Designing Secure Networking and Computer Systems</font> (Fall 23, 24) </li>
  <li> IRM 4005/OSS 4005 - <font color=#229954>Introduction to Deep Learning</font> (Fall 23, 24) </li>
  <li> NET 3006 - <font color=#229954>Network Management and Measurement</font> (Winter 23, 24) </li>
  <li> IRM4002 - <font color=#229954>Network Technology</font> (Fall 22)</li>
</ul>

// {% include base_path %}

// {% for post in site.teaching reversed %}
// {% include archive-single.html %}
// {% endfor %}
