---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---



<h1>@Carleton University</h1>

<ul style="list-style-type:disc;">
  <li>ITEC 5102/SYSC 5500 - Designing Secure Networking and Computer Systems (Fall 23, 24) </li>
  <li> IRM 4005/OSS 4005 - Introduction to Deep Learning (Fall 23, 24) </li>
  <li>NET 3006 - Network Management and Measurement (Winter 23, 24) </li>
  <li>IRM4002 - Network Technology (Fall 22)</li>
</ul>

<hr> 

<h1>@Marquette University</h1>


<hr> 


<h1>@University of Alberta</h1>


[comment]: {% include base_path %}

[comment]: {% for post in site.teaching reversed %}
[comment]: {% include archive-single.html %}
[comment]: {% endfor %}
